<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
    <link rel="stylesheet" href="/public/css/userHome.css" />
    <style>
      .back-to-userpage-button {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    </style>
  </head>
  <body>
    <a href="/userPage" class="back-to-userpage-button">Back to User</a>

    <h1>Add User</h1>

    <form action="/addUser" method="POST">
      <label for="fName">Enter User First Name</label>
      <input type="text" name="fName" id="fName" />
      <br /><br />
      <label for="lName">Enter User Last Name</label>
      <input type="text" name="lName" id="lName" />
      <br /><br />
      <label for="email">Enter email</label>
      <input type="text" name="email" id="email" />
      <br /><br />
      <label for="phone">Enter phone number</label>
      <input type="text" name="phone" id="phone" />
      <br /><br />
      <label for="password">Enter password</label>
      <input type="text" name="password" id="password" />
      <br /><br />
      <label for="admin">Admin</label>
      <select name="admin" id="admin">
        <option value="false">False</option>
        <option value="true">True</option>
      </select>
      <br /><br />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
