<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Error</title>
    <link rel="stylesheet" href="/public/css/userHome.css" />
  </head>
  <body>
    <h1>Email Already in Use</h1>
    <p>The email address you entered is already in use by another account.</p>
    <a href="javascript:history.back()">Go Back</a>
  </body>
</html>
