<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
  </head>
  <body>
    <h1>Add User</h1>
    <form action="/addname" method="post">
      <input type="text" name="name" placeholder="Enter Name" required />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
