<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bootstrap Template Atlas</title>
    <meta name="description" content="Free bootstrap template Atlas" />
    <link
      rel="icon"
      href="/public/img/provo.png"
      sizes="32x32"
      type="/image/png"
    />
    <!-- Updated path -->
    <!-- custom.css -->
    <link rel="stylesheet" href="/public/css/custom.css" />
    <!-- Updated path -->
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <!-- Updated path -->
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="/public/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!-- Updated path -->

    <!-- AOS -->
    <link rel="stylesheet" href="/public/css/aos.css" />
    <!-- Updated path -->
  </head>

  <body>
    <!-- banner -->
    <div
      class="jumbotron jumbotron-fluid"
      id="banner"
      style="background-image: url(/public/img/banner-bk3.jpg)"
    >
      <!-- Updated path -->
      <div class="container text-center text-md-left">
        <header>
          <div class="row justify-content-between">
            <div class="col-2">
              <img src="/public/img/provo.png" alt="logo" />
              <!-- Updated path -->
            </div>
            <div class="col-6 align-self-center text-right">
              <a href="/login" class="text-white lead">Login</a><br />
            </div>
          </div>
        </header>
        <h1
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="display-3 text-white font-weight-bold my-5"
        >
          Social Media and Mental Health<br />
        </h1>
        <p
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="lead text-white my-4"
        >
          Welcome to Provo's Social Media and Mental Health Dashboard!
          <br />Our purpose is to study the connection between social media and
          mental health to better help our community. Please explore our
          insights and support our research by participating in our survey
          below!
        </p>
        <a
          href="/survey"
          data-aos="fade"
          data-aos-easing="linear"
          data-aos-duration="1000"
          data-aos-once="true"
          class="btn my-4 font-weight-bold atlas-cta cta-green"
          >Fill Out Survey</a
        >
      </div>
    </div>
    <!-- three-block -->
    <div class="container my-5 py-2">
      <h2 class="text-center font-weight-bold my-5">
        Our Insights on Mental Health and Social Media
      </h2>
      <div class="row">
        <div
          data-aos="fade-up"
          data-aos-delay="0"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-4 text-center"
        >
          <br />
          <img
            src="/public/img/download-2.png"
            alt="Anti-spam"
            class="mx-auto"
          />
          <!-- Updated path -->
          <h4>Age</h4>
          <p>
            Individuals in their twenties are more prone to experiencing mental
            health challenges from social media.
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-4 text-center"
        >
          <img
            src="/public/img/download-5.png"
            alt="Phishing Detect"
            class="mx-auto"
          />
          <!-- Updated path -->
          <h4>Time</h4>
          <p>
            Individuals who limit their daily social media usage to one hour or
            less have a significantly reduced susceptibility to mental health
            issues.
          </p>
        </div>
        <div
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1000"
          data-aos-once="true"
          class="col-md-4 text-center"
        >
          <img
            src="/public/img/images-1.png"
            alt="Smart Scan"
            class="mx-auto"
          />
          <!-- Updated path -->
          <h4>Causes Worries</h4>
          <p>
            Our research shows that, when compared to other factors, social
            media predominantly induces heightened levels of worry in
            individuals.
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <!-- feature (skew background) -->
    <h2 class="text-center font-weight-bold my-5">
      Our Current Dashboard of Data
    </h2>
    <div
      class="tableauPlaceholder"
      id="viz1701985125439"
      style="position: relative"
    >
      <noscript>
        <a href="#">
          <img
            alt="Dashboard 3"
            src="https://public.tableau.com/static/images/fi/finalDash_17019076725860/Dashboard3/1_rss.png"
            style="border: none"
          />
        </a>
      </noscript>
      <object class="tableauViz" style="display: none">
        <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
        <param name="embed_code_version" value="3" />
        <param name="site_root" value="" />
        <param name="name" value="finalDash_17019076725860/Dashboard3" />
        <param name="tabs" value="no" />
        <param name="toolbar" value="yes" />
        <param
          name="static_image"
          value="https://public.tableau.com/static/images/fi/finalDash_17019076725860/Dashboard3/1.png"
        />
        <param name="animate_transition" value="yes" />
        <param name="display_static_image" value="yes" />
        <param name="display_spinner" value="yes" />
        <param name="display_overlay" value="yes" />
        <param name="display_count" value="yes" />
        <param name="language" value="en-US" />
        <param name="filter" value="publish=yes" />
      </object>
    </div>

    <script type="text/javascript">
      var divElement = document.getElementById("viz1701985125439");
      var vizElement = divElement.getElementsByTagName("object")[0];
      if (divElement.offsetWidth > 800) {
        vizElement.style.width = "100%";
        vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width = "100%";
        vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
      } else {
        vizElement.style.width = "100%";
        vizElement.style.height = "1277px";
      }
      var scriptElement = document.createElement("script");
      scriptElement.src =
        "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-once="true"
      class="col-md-6 align-self-center"
    ></div>

    <!-- contact -->
    <div
      class="jumbotron jumbotron-fluid"
      id="contact"
      style="background-image: url(/public/img/contact-bk.jpg)"
    >
      <!-- Updated path -->
      <div class="container my-5">
        <div class="row justify-content-between">
          <div class="col-md-6 text-white">
            <h2 class="font-weight-bold">Contact Us</h2>
            <p class="my-4">
              If you want to get involved or you have any questions, please
              contact us!
            </p>
            <ul class="list-unstyled">
              <li>Phone : (801)852-6000</li>
              <li>
                Address : City Hall 445 W Center St Suite 410. Provo, UT 84601
              </li>
            </ul>
          </div>
          <!-- <div class="col-md-6">
            <form>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="name" class="form-control" id="name" />
                </div>
                <div class="form-group col-md-6">
                  <label for="Email">Your Email</label>
                  <input type="email" class="form-control" id="Email" />
                </div>
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
              </div>
              <button
                type="submit"
                class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3"
              >
                Submit
              </button>
            </form>
          </div> -->
        </div>
      </div>
    </div>
    <!-- copyright -->
    <!-- <div class="jumbotron jumbotron-fluid" id="copyright">
      <div class="container">
        <div class="row justify-content-between">
          <div
            class="col-md-6 text-white align-self-center text-center text-md-left my-2"
          ></div>
          <div
            class="col-md-6 align-self-center text-center text-md-right my-2"
            id="social-media"
          >
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-medium" aria-hidden="true"></i>
            </a>
            <a href="#" class="d-inline-block text-center ml-2">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- AOS -->
    <script src="/public/js/aos.js"></script>
    <!-- Updated path -->
    <script>
      AOS.init({});
    </script>
  </body>
</html>
