<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Template Atlas</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="/public/img/favicon.png" sizes="32x32" type="/image/png"> <!-- Updated path -->
    <!-- custom.css -->
    <link rel="stylesheet" href="/public/css/custom.css"> <!-- Updated path -->
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"> <!-- Updated path -->
    <!-- font-awesome -->
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css"> <!-- Updated path -->
    
    <!-- AOS -->
    <link rel="stylesheet" href="/public/css/aos.css"> <!-- Updated path -->
</head>

<body>
    <!-- banner -->
    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(/public/img/banner-bk3.jpg);"> <!-- Updated path -->
        <div class="container text-center text-md-left">
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="/public/img/logo.png" alt="logo"> <!-- Updated path -->
                    </div>
                    <div class="col-6 align-self-center text-right">
                      <a href="/login" class="text-white lead">Login</a><br>
                  </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            	Social Media and Mental Health<br>
            	
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
                The city of Provo, Utah is researching the correlation between social media and mental health.
                To help our research and sample size, please fill out the survey!
            </p>
            <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Fill Out Survey</a>
        </div>
    </div>
    <!-- three-block -->
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Smartest protection for your site</h2>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="/public/img/smart-protect-1.jpg" alt="Anti-spam" class="mx-auto"> <!-- Updated path -->
                <h4>Anti-spam</h4>
                <p>Lorem ipsum dolor sit amet porro his no his deleniti</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="/public/img/smart-protect-2.jpg" alt="Phishing Detect" class="mx-auto"> <!-- Updated path -->
                <h4>Phishing Detect</h4>
                <p>Ne error antiopam usu. Sed vocen concludaturque ea</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="/public/img/smart-protect-3.jpg" alt="Smart Scan" class="mx-auto"> <!-- Updated path -->
                <h4>Smart Scan</h4>
                <p>Et usu ocurreret elaboraret doctus prodesse assueverit.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- feature (skew background) -->
    <h2 class="text-center font-weight-bold my-5">Our Current Dashboard of Data</h2>
    <div class='tableauPlaceholder' id='viz1701731224583' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='public/images/Co/CollegeMajorDashboard_17014594819560/Dashboard1/1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='CollegeMajorDashboard_17014594819560/Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https://public.tableau.com/static/images/Co/CollegeMajorDashboard_17014594819560/Dashboard1/1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1701731224583');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if (divElement.offsetWidth > 800) {
            vizElement.style.width = '1000px';
            vizElement.style.height = '827px';
        } else if (divElement.offsetWidth > 500) {
            vizElement.style.width = '1000px';
            vizElement.style.height = '827px';
        } else {
            vizElement.style.width = '100%';
            vizElement.style.height = '1427px';
        }
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
    </div>
    </div>
    </div>
    <!-- contact -->
    <div class="jumbotron jumbotron-fluid" id="contact" style="background-image: url(/public/img/contact-bk.jpg);"> <!-- Updated path -->
        <div class="container my-5">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white">
                    <h2 class="font-weight-bold">Contact Us</h2>
                    <p class="my-4">
                        If you want to get involved or you have any questions, please contact us!
                    </p>
                    <ul class="list-unstyled">
                        <li>Phone : (801)852-6000</li>
                        <li>Address : City Hall 445 W Center St Suite 410. Provo, UT 84601</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="name" class="form-control" id="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Email">Your Email</label>
                                <input type="email" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2018 Chen, Yi-Ya.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-medium" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- AOS -->
    <script src="/public/js/aos.js"></script> <!-- Updated path -->
    <script>
      AOS.init({
      });
    </script>
</body>
</html>