<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= data.title %></title>
  </head>
  <body>
    <h1><%= data.message %></h1>

    <ul>
      <% data.items.forEach(item => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
