<!DOCTYPE html>
<html>
  <head>
    <title>Social Media Usage Survey</title>
    <!-- Add any necessary CSS links or scripts here -->
  </head>
  <body>
    <h1>Social Media Usage Survey</h1>
    <form action="/submit-survey" method="post">
      <!-- Age -->
      <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required />
      </div>

      <!-- Gender -->
      <div>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

      <!-- relationship status -->
      <fieldset>
        <legend>Relationship Status:</legend>
        <br />
        <input
          type="radio"
          id="inrelationship"
          name="relationship"
          value="in a relationship"
        />
        <label for="inrelationship">In a Relationship</label><br />
        <input type="radio" id="single" name="relationship" value="single" />
        <label for="single">Single</label><br />
        <input type="radio" id="married" name="relationship" value="married" />
        <label for="married">Married</label><br />
        <input
          type="radio"
          id="divorced"
          name="relationship"
          value="divorced"
        />
        <label for="divorced">Divorced</label>
      </fieldset>

      <!-- occupation status -->
      <fieldset>
        <legend>Occupation:</legend>
        <br />
        <input
          type="radio"
          id="universityStudent"
          name="occupation"
          value="University Student"
        />
        <label for="universityStudent">University Student</label><br />

        <input
          type="radio"
          id="schoolStudent"
          name="occupation"
          value="School Student"
        />
        <label for="schoolStudent">School Student</label><br />

        <input
          type="radio"
          id="salariedWorker"
          name="occupation"
          value="Salaried Worker"
        />
        <label for="salariedWorker">Salaried Worker</label><br />

        <input type="radio" id="retired" name="relationship" value="retired" />
        <label for="retired">Retired</label>
      </fieldset>

      <!-- Organizations Affiliated With (Checkbox Group) -->
      <fieldset>
        <legend>Organizations Affiliated With:</legend>
        <!-- Example: Assuming these IDs match those in your 'organizationinfo' table -->
        <div>
          <input
            type="checkbox"
            id="university"
            name="organizations[]"
            value="1"
          /><label for="university">University</label>
        </div>

        <div>
          <input
            type="checkbox"
            id="private"
            name="organizations[]"
            value="2"
          /><label for="private">Private</label>
        </div>
        <!-- Add checkboxes for other organizations -->

        <div>
          <input
            type="checkbox"
            id="school"
            name="organizations[]"
            value="3"
          /><label for="school">School</label>
        </div>
        <!-- Add checkboxes for other organizations -->

        <div>
          <input
            type="checkbox"
            id="company"
            name="organizations[]"
            value="4"
          /><label for="company">Company</label>
        </div>
        <!-- Add checkboxes for other organizations -->

        <div>
          <input
            type="checkbox"
            id="government"
            name="organizations[]"
            value="4"
          /><label for="government">Government</label>
        </div>
        <!-- Add checkboxes for other organizations -->
      </fieldset>

      <!-- Social Media Platforms (Checkbox Group) -->
      <fieldset>
        <legend>Select Social Media Platforms:</legend>
        <!-- Example: Assuming these IDs match those in your 'socialmediainfo' table -->
        <div>
          <input
            type="checkbox"
            id="instagram"
            name="socialmedia[]"
            value="1"
          /><label for="instagram">Instagram</label>
        </div>
        <div>
          <input
            type="checkbox"
            id="facebook"
            name="socialmedia[]"
            value="2"
          /><label for="facebook">Facebook</label>
        </div>
        <!-- Add checkboxes for other platforms -->
      </fieldset>

      <!-- Additional Survey Questions (e.g., avgtime, withoutpurpose, etc.) -->
      <!-- Use appropriate input elements (text, radio, range, etc.) based on the type of response you expect -->
      <div>
        <label for="avgtime">Average Time on Social Media:</label>
        <select id="avgtime" name="avgtime">
          <option value="1">Less than 1 hour</option>
          <option value="2">1-2 hours</option>
          <!-- Add other options -->
        </select>
      </div>

      <!-- ... more questions ... -->

      <input type="submit" value="Submit Survey" />
    </form>
  </body>
</html>
