body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0 auto; /* Centering horizontally */
  padding: 0;
  color: #333;
  display: flex; /* Using flexbox */
  flex-direction: column; /* Stacking children vertically */
  align-items: center; /* Centering content horizontally */
}

.container {
  width: 80vw;
  margin: 0 auto;
}

ul.navbar {
  list-style-type: none;
  margin: 0 auto; /* Centering horizontally */
  padding: 0;
  overflow: hidden;
  width: 80vw; /* Width of the navbar */
}

h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 2vh;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Basic CSS for the navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

ul.navbar li {
  float: right;
}

ul.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.not-active:hover {
  background-color: #b8daffb3;
  cursor: pointer;
}

/* Style for the currently selected page */
ul.navbar li.selected {
  background-color: #4caf50;
}

/* Style for the active page */
ul.navbar li a.active {
  background-color: #007bff;
  color: white;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 15px;
  width: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.success-message {
  color: green;
  text-align: center;
  margin: 10px 0;
}
table {
  width: 80vw;
  background-color: #b8daffb3;
  border-collapse: collapse; /* Ensures borders collapse into a single border */
}

table th,
table td {
  border: none; /* Removes all borders from cells */
  /* Or use 'border-bottom: 1px solid black;' for horizontal lines only */
  text-align: left;
  padding: 8px; /* Adjust padding as needed */
}

/* Optional: to keep the outer border of the table */
table {
  border: 1px solid black;
}
.delete-button {
  background-color: rgb(242, 62, 62);
  color: white; /* Optional: Changes text color to white for better visibility */
  /* Add any other styling like padding, border, etc., as needed */
}

.edit-button {
  background-color: grey;
  color: white; /* Optional: Changes text color to white for better visibility */
  /* Add any other styling like padding, border, etc., as needed */
}

/* Optional: Style for hover effect */
.delete-button:hover {
  opacity: 0.8;
  background-color: rgb(242, 62, 62);
  color: white;
}

.edit-button:hover {
  opacity: 0.8;
  background-color: grey;
  color: white;
}

.search-alphabetize-container {
  display: flex;
  justify-content: space-between;

  /* Adjust margins and padding as needed */
}

.alphabetize-section,
.search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alphabetize-section a,
.search-section input {
  margin: 0px;
}

#searchBox {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
#alpha {
  margin-right: 40px;
}
