body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0 auto; /* Centering horizontally */
  padding: 0;
  color: #333;
  display: flex; /* Using flexbox */
  flex-direction: column; /* Stacking children vertically */
  align-items: center; /* Centering content horizontally */
}

.container {
  width: 80vw;
  margin: 0 auto;
}

ul.navbar {
  list-style-type: none;
  margin: 0 auto; /* Centering horizontally */
  padding: 0;
  overflow: hidden;
  width: 80vw; /* Width of the navbar */
}

h1,
h2,
h3 {
  color: #333;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 2vh;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Basic CSS for the navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

ul.navbar li {
  float: right;
}

ul.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.not-active:hover {
  background-color: #b8daffb3;
  cursor: pointer;
}

/* Style for the currently selected page */
ul.navbar li.selected {
  background-color: #4caf50;
}

/* Style for the active page */
ul.navbar li a.active {
  background-color: #007bff;
  color: white;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #0056b3;
}

form {
  max-width: 25vw; /* Set the maximum width of the form */
  margin: 0.5vw auto; /* Centering the form */
  padding: 2vw;
  background-color: rgb(235, 246, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  width: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 23.5vw;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: auto;
  padding: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.error-message {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.success-message {
  color: green;
  text-align: center;
  margin: 10px 0;
}

#logoutForm {
  width: auto; /* Resets width to default */
  background-color: transparent; /* Sets background to transparent */
  color: initial; /* Resets color to default */
  box-shadow: none;
}

#logoutForm button {
  background-color: rgb(242, 62, 62);
  color: white;
  border: none; /* Removes border */
  padding: 10px; /* Removes padding */
  margin: 0; /* Removes margin */
  width: 20vw;
}
#logoutForm button:hover {
  background-color: rgb(254, 18, 18);
}

#subButton {
  text-align: right;
}

.login-container {
  margin-top: 10vh;
}
