<!-- admin_data.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <h1>Responses Overview</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Response ID</th>
          <th>Timestamp</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(response) { %>
        <tr>
          <td>
            <a href="/response-detail/<%= response.responseid %>"
              ><%= response.responseid %></a
            >
          </td>
          <td><%= response.timestamp %></td>
          <td><%= response.location %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
