.question {
  margin-bottom: 20px;
}

input[type="range"] {
  vertical-align: middle;
  margin: 0 10px;
}

.question span {
  display: inline-block;
  vertical-align: middle;
}

.question div {
  margin-top: 10px;
}
